ul
{
  background-color: 
    #323;
  padding: 
    0;
  list-style-type: 
    none;
  margin: 
    0;
  margin-bottom: 
    8px;
  overflow: 
    hidden;
}

li 
{
  float: 
    left;
}

li a 
{
  display: 
    block;
  color: 
    white;
  text-align: 
    center;
  padding: 
    14px 
    16px;
  text-decoration: 
    none;
}

li a:hover 
{
  background-color: 
    #101;
}

.bigimage
{
  width: 
    100vw;
  height: 
    auto;
  overflow: 
    hidden;
  margin-right: 
    8px;
  margin-bottom: 
    4px;
}

.mapparagraph
{

}
